//color variables
$background-gray: #ecede9;
$background-blue: #303c53;
$red: #f08280;

@mixin redLine {
  padding-left: 5px;
  -webkit-box-shadow: -4px 0px 0px 0px red;
  -moz-box-shadow: -4px 0px 0px 0px red;
  box-shadow: -4px 0px 0px 0px red;
}

.headline {
  margin-left: 10vw;
  @include redLine();
}

.mainConversion {
  $this: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  background-color: $background-gray;
  div {
    padding-right: 5vw;
  }
  img {
    width: 50%;
    height: auto;
  }
  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 0.8em;
  }
a{
  padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
  &--redHeadline {
    h2 {
      color: $red;
    }
  }

  &--leftImage {
    img {
      order: 1;
      width: 35%;
      margin: 50px 0;
      padding-right: 20px;
    }
  }
}

.contactToggleBox {
  background-color: $background-blue;
  position: relative;
  height: 150px;
  z-index: 1;
  p {
    margin-left: 10vw;
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 2;
  }
  &--hidden {
    display: none;
  }
  &:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $background-blue;
    position: absolute;
    top: 0;
    left: 10vw;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
  }
}
